@model ML.Medicamento
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agregar o Modificar Medicamento</h1>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Medicamento", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IdMedicamento, new { @class = "visually-hidden form-control" })
                        @Html.TextBoxFor(model => model.IdMedicamento, new { @class = "visually-hidden form-control" })
                        @Html.ValidationMessageFor(model => model.IdMedicamento)
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Descripcion)
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", @id = "txtDescripcion" })
                        @Html.ValidationMessageFor(model => model.Descripcion)

                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Precio)
                        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", @id = "txtPrecio" })
                        @Html.ValidationMessageFor(model => model.Precio)
                    </div>

                </div>
                <br>

                <div class="input-group-addon mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                    <input id="fuImage" type='file' class="form-control" name="fuImage" onchange="validateFile(this), readURL(this);  " />
                </div>

                @if (Model.Imagen != null)
                {

                    <img id="Img" src="data:image/*;base64,@Model.Imagen" style="width:150px ; height:150px" />

                }
                else
                {
                    <img id="Img" src="~/Imagen/MedicamentoGnl.jpg" style="width:150px ; height:150px" />
                }
                <br/>

                <br>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Medicamento", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>

@section Scripts
{
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<scrpt src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></scrpt>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

     function validateFile() {
        var allowedExtension = ['jpeg', 'jpg', 'png'];
        var fileExtension = document.getElementById('fuImage').value.split('.').pop().toLowerCase();
        var isValidFile = false;
        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValidFile = true;
                break;
            }
        }
        if (!isValidFile) {
            alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
            document.getElementById('fuImage').value = ""
        }
        return isValidFile;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Img').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
}